.banner{
  position: relative;
  margin: 50px;
  min-height: 8em;
  width:55%;
  border-radius: 0.5em;
  /*border: 1px solid black;*/
  background-color: #301D19;
}

.banner h1{
  position: absolute;
  font-size: 2.3em;
  /*font-size: 230%;*/
  margin-left: 0.5em;
  color: white;
  width: 55%;
}

.banner h2{
    position: absolute;
    font-size: 1.2em;
    padding-left: 1em;
    top: 71%;
    width: 97.1%;
    background-color: #fff38c;
    background-image: linear-gradient(#fff38c, rgb(196,139,96));
    padding-left: 3%;
    border-bottom-left-radius: 0.4em;
    border-bottom-right-radius: 0.4em;
}

img{
  position: absolute;
  right: 20%;
  bottom: 1%;
  width: 18%;
  height: 6.7em;
}

p {
  position: absolute;
  left: 81%;
  bottom: 0%;
  top: 6.5em;
  width: 15%;
  font-size: 0.9em;
}


@media all and (max-width: 1198px) and (min-width: 900px) {

  
  .banner h1{
    position: absolute;
    font-size: 2em;
    /*font-size: 230%;*/
    margin-left: 0.5em;
    color: white;
    width: 55%;
  }

  .banner h2{
    position: absolute;
    padding-left: 1.5em;
    top: 71%;
    width: 97.1%;
    background-color: #fff38c;
    background-image: linear-gradient(#fff38c, rgb(196,139,96));
    padding-left: 3%;
    border-bottom-left-radius: 0.4em;
    border-bottom-right-radius: 0.4em;
    font-size: 1.5em;
  }

  p {
    position: absolute;
    left: 81%;
    bottom: 0%;
    top: 9.8em;
    width: 15%;
    font-size: 0.7em;
    font-weight: 900
}

img {
    position: absolute;
    right: 20%;
    bottom: 1%;
    width: 18%;
    height: 5.8em;
}

}

@media all and (max-width: 899px) and (min-width: 1px) {
  .hidden {
    display: none;
  }

  .banner{
    position: relative;
    margin: 50px;
    min-height: 6em;
    width:30%;
    border-radius: 0.5em;
    background-color: #301D19;
  }

    .banner h1{
    position: absolute;
    font-size: 1em;
    margin-left: 0.5em;
    color: white;
    width: 55%;
    letter-spacing: 5px;
  }

  .banner h2{
    position: absolute;
    padding-left: 1.5em;
    top: 71%;
    width: 97.1%;
    background-color: #fff38c;
    background-image: linear-gradient(#fff38c, rgb(196,139,96));
    padding-left: 3%;
    border-bottom-left-radius: 0.4em;
    border-bottom-right-radius: 0.4em;
    font-size: 0.9em;
  }

 } 
